<!--
<a [routerLink]="'courriel'" (click)="setFlow(flow.id)" class="sender">{{flow.name}}</a>
&lt;!&ndash;<div class="attachment-icon">
  <md-icon>attachment</md-icon>
</div>&ndash;&gt;
<a [routerLink]="'courriel'" (click)="setFlow(flow.id)" class="content">
  <span class="title">{{flow.title}}</span>
  <span class="title" *ngIf="!flow.title" [innerHtml]="flow.content|safehtml"></span>
  &lt;!&ndash;<span class="description">{{flow.content|slice:0:35}}</span>&ndash;&gt;
</a>
<div class="date">{{flow.date_created|date:'short'}}</div>
<app-flow [id]="flow.id" [type]="'flow'"></app-flow>
-->
