

<mat-accordion>
  <mat-expansion-panel class="flow-" *ngFor="let flow of flows" hideToggle="visibility">
    <mat-expansion-panel-header>
      <mat-panel-title class="entity-label">
        <div class="n">{{title_label(flow)}}</div>
      </mat-panel-title>
      <mat-panel-description class="flow-content">
        <div innerHtml="{{flow.content||flow.project_title | slice:0:150}}"></div>
      </mat-panel-description>
      <div class="date">
        <!--<mat-icon class="mat-18" *ngIf="treated(flow)">checked</mat-icon>-->

        <span *ngIf="!sameDay(flow)">{{flow.date|date}}</span>
        <span *ngIf="sameDay(flow)">{{flow.date|date:'shortTime'}}</span>
      </div>
    </mat-expansion-panel-header>
    <flow [flow]="flow"></flow>
    <mat-action-row>
      <button *ngIf="viewable(flow)" color="primary" (click)="view(flow)" mat-button>
        <mat-icon class="mat-18">folder_open</mat-icon>
        Voir projet
      </button>
      <button *ngIf="received(flow)" mat-button color="primary" (click)="answer(flow)">
        <mat-icon>reply</mat-icon>
        Répondre
      </button>
      <button mat-button color="primary" *ngIf="dispatchable(flow)"
              (click)="dispatch(flow)">
        <i class="material-icons">call_split</i> Dispatcher
      </button>
      <mat-menu #appMenu="matMenu">
        <button *ngIf="decommissionable(flow)" (click)="decommission(flow)" mat-menu-item>
          <mat-icon class="mat-18">call_missed_outgoing</mat-icon>
          Déclasser
        </button>
        <button *ngIf="submitable(flow)" (click)="submit(flow)" mat-menu-item>
          <mat-icon class="mat-18">arrow_upward</mat-icon>
          Soumetre
        </button>
        <button *ngIf="shareable(flow)" (click)="share(flow)" mat-menu-item>
          <mat-icon class="mat-18">share</mat-icon>
          Partager
        </button>
        <button *ngIf="treatable(flow)" (click)="treat(flow)" mat-menu-item color="primary">
          <mat-icon class="mat-18">check</mat-icon>
          Traité/Vu
        </button>
      </mat-menu>
      <button *ngIf="treatable(flow)" mat-icon-button color="primary" [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
