<mat-accordion>
  <mat-expansion-panel (opened)="getFiles(flow,id,pageEvent)" class="flow-"
    *ngFor="let flow of paginate(flows,pageEvent?pageEvent.pageSize:15,pageEvent?pageEvent.pageIndex:1);let id = index"
    hideToggle="visibility">
    <mat-expansion-panel-header>
      <mat-panel-title class="entity-label">
        <div class="n">{{title_label(flow)}}</div>
      </mat-panel-title>
      <mat-panel-description class="flow-content">
        <div innerHtml="{{flow.project_title | slice:0:150}}"></div>
        <!--<div innerHtml="{{flow.content||flow.project_title | slice:0:150}}"></div>-->
      </mat-panel-description>
      <div class="numero">
        <!--<mat-icon class="mat-18" *ngIf="treated(flow)">checked</mat-icon>-->
        <div>
          <span class="highlight" *ngIf="flow.project_numero && flow.project_numero != 'null'">{{flow.project_numero}} - </span>
          {{flow.project_sender}} 
          <span class="highlight"> {{flow.project_ref}} </span></div>

        <span *ngIf="!sameDay(flow)">{{flow.date|date}}</span>
        <span *ngIf="sameDay(flow)">{{flow.date|date:'shortTime'}}</span>
      </div>
    </mat-expansion-panel-header>
    <flow [flow]="flow"></flow>
    <mat-action-row>
      <button *ngIf="viewable(flow)" color="primary" (click)="view(flow)" mat-button>
        <mat-icon class="mat-18">folder_open</mat-icon>
        Voir projet
      </button>
      <button mat-button color="primary" (click)="dispatch(flow)">
        <i class="material-icons">call_split</i> Envoyer
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator *ngIf="flows.length" style="padding-right: 75px;" [length]="flows.length" [pageSize]="paginator.pageSize"
  [pageSizeOptions]="paginator.pageSizeOptions" (page)="pageEvent = $event">
</mat-paginator>
