<div mat-dialog-title>
  <app-user-box [user]="user"></app-user-box>
</div>
<mat-dialog-content class="content">
  <form (ngSubmit)="submit()" class="form" fxLayout="column">
    <!--arrive mfb auto-->
    <mat-form-field class="">
      <input type="text" disabled required [(ngModel)]="project.n_arrive" name="n_arrive" matInput
             placeholder="N° du courrier">
    </mat-form-field>
    <!--arrive entity (auto)-->
    <!--expediteur-->
    <!--date du courriel-->
    <!--reference-->
    <!--objet-->
    <h4>Objet:</h4>
    <mat-form-field class="">
      <textarea [(ngModel)]="project.content" required name="content" matInput placeholder="Objet"></textarea>
    </mat-form-field>
    <!-- <div id="objet" class="froala" [froalaEditor]="options" [(froalaModel)]="project.content"></div> -->
    <!--type-->
    <!--switch if need to redirect-->

    <!--redirected to-->
    <mat-form-field class="" *ngIf="">
      <input [(ngModel)]="project.redirectedTo" required name="redirectedTo" matInput placeholder="Redirigé vers">
    </mat-form-field>

    <!--destinataires-->
    <!--observations-->


    <h4>Destinataires</h4>
    <!--entities-->

    <div class="entities">
      <mat-checkbox *ngFor="let entity of entities" (click)="checkEntity(entity.id)"><strong>{{entity.label}}</strong> - {{entity.title | slice:0:35}}...</mat-checkbox>
    </div>


    <!--date de depart auto-->
    <app-files [files]="project.files"></app-files>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" class="action-buttons">
  <app-upload-button (fileSelect)="getFiles($event)"></app-upload-button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button (click)="submit()" mat-button>ENREGISTRER</button>
</mat-dialog-actions>
