<div mat-dialog-title>
  <app-user-box [user]="user"></app-user-box>
</div>
<form class="content">


  <app-user-autocomplete (userSelected)="selectUser($event)"></app-user-autocomplete>
  <mat-form-field class="">
    <input [(ngModel)]="mail.title" name="title" matInput placeholder="Sujet">
  </mat-form-field>
  <div class="froala" [froalaEditor]="options" [(froalaModel)]="mail.content"></div>

  <app-files [files]="mail.files"></app-files>
</form>
<mat-dialog-actions fxLayout="row" class="action-buttons">
  <app-upload-button (fileSelect)="getFiles($event)"></app-upload-button><!-- Can optionally provide a result for the closing dialog. -->
  <!-- Can optionally provide a result for the closing dialog. -->
  <button mat-button (click)="sendEmail()">ENVOYER</button>
</mat-dialog-actions>
