<section class="public-home--description">
  <h1>logo</h1>
  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A corporis distinctio maxime nam nesciunt, nostrum
    officiis optio quam, quasi repellat repellendus sapiente, sunt unde! Aperiam dignissimos est nam numquam
    officiis!</h3>
  <p>Lorem ipsum dolor sit.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores assumenda, atque autem commodi
    deserunt, dicta doloremque dolorum explicabo id in incidunt inventore ipsam labore laudantium libero magni maiores
    maxime minus modi mollitia necessitatibus nostrum obcaecati pariatur perspiciatis porro possimus provident quasi
    quis, quisquam recusandae sapiente totam unde veritatis voluptas voluptatibus voluptatum! Dolorum, ipsam placeat.
    Eius error laudantium quia reiciendis!</p>
</section>
<section class="public-home--connexion">
  <a routerLink="connexion">Connexion</a>
  <a routerLink="s-inscrire">S'inscrire</a>
</section>
