<mat-form-field>
  <input  matInput placeholder="Destinataire" [matAutocomplete]="auto" [formControl]="userCtrl">
  <!--<input  matInput placeholder="Destinataire(s)" [matAutocomplete]="auto" [formControl]="userCtrl">-->
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
  <mat-option (onSelectionChange)="selectUser(user)" *ngFor="let user of filteredUsers | async" [value]="user">
    <!--<app-user-avatar [photo]="user.photo"></app-user-avatar>-->
    {{user.entity}} - {{ user.name }}
  </mat-option>
</mat-autocomplete>
