
<mat-accordion *ngIf="projects">
  <!--projects -->
  <mat-expansion-panel 
    *ngFor="let project of paginate(projects,pageEvent?pageEvent.pageSize:15,pageEvent?pageEvent.pageIndex:1)"    hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <strong>{{senderLabel(project)}}</strong>
        <!--<div class="n">{{project.n_arrive}}</div>-->

      </mat-panel-title>
      <mat-panel-description [innerHtml]="(project.title| slice:0:150) + (project.title.length > 150? '...':'') ">

        <!--<mat-icon>class</mat-icon>-->
      </mat-panel-description>
      <!-- <div class="date">
        <span *ngIf="!sameday(project)"> {{project.date|date}}</span>
        <span *ngIf="sameday(project)"> {{project.date|date:'shortTime'}}</span>
      </div> -->
      <div class="numero">
          <span>{{project.date|date:'yyyy'}}/{{project.numero}}</span><br>
      </div>
    </mat-expansion-panel-header>

    <project [project]="project"></project>

    <mat-action-row>
      <button mat-button color="primary" *ngIf="viewable(project)" (click)="setProject(project)"
        routerLink="/courriels/courriel">Voir
      </button>


      <!-- <button *ngIf="!treated(project)" mat-button color="primary" (click)="ship(project)">
        <mat-icon class="mat-18">file_upload</mat-icon>
        Exporter
      </button> -->
      <button mat-button color="primary" *ngIf="submitable()" (click)="submit()">
        <mat-icon class="mat-18">arrow_upward</mat-icon>
        Soumetre
      </button>
      <button *ngIf="!treated(project)" mat-button color="primary" (click)="dispatch(project)">
        <mat-icon class="mat-18">call_split</mat-icon>
        Envoyer
      </button>
      <mat-menu #appMenu="matMenu">

        <button *ngIf="editable() " (click)="edit(project)" mat-menu-item="" color="primary">
          <mat-icon class="mat-18">edit</mat-icon>
          Modifier
        </button>
        <button (click)="delete(project)" mat-menu-item="" color="primary">
          <mat-icon class="mat-18">delete</mat-icon>
          Suprimer
        </button>

        <!--<button *ngIf="treatable(project) " [disabled]="treating==project.id" (click)="treat(project)" mat-menu-item=""
                        color="primary">
                  <mat-icon *ngIf="treating!=project.id" class="mat-18">check</mat-icon>
                  <loading-button *ngIf="treating == project.id"></loading-button>
                  Traité/Vu
                </button>-->
      </mat-menu>

      <button *ngIf="treatable(project)" mat-icon-button color="primary" [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<mat-paginator *ngIf="projects" style="padding-right: 75px;" [length]="projects.length"
  [pageSize]="paginator.pageSize" [pageSizeOptions]="paginator.pageSizeOptions" (page)="pageEvent = $event">
</mat-paginator>
