<div mat-dialog-title>
  <h1>Répondre</h1>
</div>
<mat-dialog-content class="content">
  <mat-form-field class="">
    <input type="text" disabled required name="n_arrive"
           [value]="entity.numero" matInput
           placeholder="N° ">
  </mat-form-field>
  <h5>Objet</h5>
  <mat-form-field class="">
          <textarea [(ngModel)]="answer.content" required name="content" matInput
                    placeholder="Objet"></textarea>
  </mat-form-field>
  <app-files [files]="answer.files"></app-files>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" class="action-buttons">
  <app-upload-button (fileSelect)="getFiles($event)"></app-upload-button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button [disabled]="loading || !valid()" (click)="submit()" mat-button>
    <mat-icon *ngIf="!loading">reply</mat-icon>
    <loading-button *ngIf="loading"></loading-button>
    Envoyer
  </button>
</mat-dialog-actions>
