:host {
  display: block;
  background-color: #3949AB;
  height: 100%;
  .header{
    justify-content: center;
    align-items: center;
  }
  .container {
    img {
    }
    background-color: #fff;
    max-width: 500px !important;
    padding: 2em;
    margin: auto;
    .action-buttons {

      bottom: 0;
      position: relative;
      justify-content: space-between;
    }
  }
}
