<div fxFlex="" fxLayout="column" class="container">

  <header>
    <!--<h1 style="text-align: center;">Connexion</h1>-->
    <img width="100%" src="../../assets/img/logo.png" alt="logo courrieldgb">
<!--    <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eveniet magnam possimus velit
      veritatis,
      voluptatibus! Ad corporis itaque omnis soluta sunt. Amet deleniti, eius explicabo modi obcaecati odio quas
      quo?</p>-->
    <!--reverted  my changes-->

  </header>
  <form (keyup.enter)="submit()" (ngSubmit)="submit()" class="form" fxLayout="column">
    <mat-form-field fxFlex>
      <input name="id" matInput required [(ngModel)]="user.id" placeholder="Identifiant">
    </mat-form-field>
    <mat-form-field fxFlex>
      <input name="password" required matInput type="password" [(ngModel)]="user.password" placeholder="Mot de passe">
    </mat-form-field>
  </form>
  <div fxLayout="row" class="action-buttons">
    <button disabled routerLink="/public" mat-button>ANNULER</button>
    <button [disabled]="loading || !valid()" (click)="submit()" mat-button>
      <mat-icon *ngIf="!loading" class="mat-18">input</mat-icon>
      <loading-button *ngIf="loading"></loading-button>
      CONNEXION</button>
  </div>
</div>
