<div fxFlex="" fxLayout="column" class="container">

  <header>
    <h1>Connexion</h1>
    <!--<img src="../../assets/img/logo.png" alt="logo courrieldgb">-->
    <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eveniet magnam possimus velit
      veritatis,
      voluptatibus! Ad corporis itaque omnis soluta sunt. Amet deleniti, eius explicabo modi obcaecati odio quas
      quo?</p>

  </header>
  <form (keyup.enter)="submit()" (ngSubmit)="submit()" class="form" fxLayout="column">
    <md-input-container>
      <input name="id" mdInput [(ngModel)]="user.id" placeholder="Identifiant">
    </md-input-container>
    <md-input-container>
      <input name="password" mdInput type="password" [(ngModel)]="user.password" placeholder="Mot de passe">
    </md-input-container>
  </form>
  <div fxLayout="row" class="action-buttons">
    <button routerLink="/public" md-button>ANNULER</button>
    <button (click)="submit()" md-button>CONNEXION</button>
  </div>
</div>
