<mat-nav-list>
  <mat-list-item routerLink="/messages">
    <mat-icon class="mat-18">email</mat-icon>
    <span>Messages</span>
  </mat-list-item>
  <mat-list-item disabled>
    <span>Sessions</span>
  </mat-list-item>
  <mat-list-item disabled>
    <span>Importants</span>
  </mat-list-item>
  <mat-list-item disabled>
    <mat-icon class="mat-18">feedback</mat-icon>
    <span>Rapports</span>
  </mat-list-item>
  <!--
  <mat-list-item disabled >
      <span>Envoyés</span>
    </mat-list-item>
    <mat-list-item disabled >
      <span>Archive</span>
    </mat-list-item>
    -->
<!--  <mat-list-item routerLink="enregistres">
    <mat-icon class="mat-18">inbox</mat-icon>
    <span>Enregistrés</span>
  </mat-list-item>-->
</mat-nav-list>
