
<md-nav-list>
  <md-list-item routerLink="/courriels" >
    <span >Courriels (4)</span>
  </md-list-item>
  <md-list-item disabled >
    <span>Sessions (5)</span>
  </md-list-item>
  <md-list-item disabled >
    <span>Importants</span>
  </md-list-item>
  <md-list-item disabled >
    <span>Envoyés</span>
  </md-list-item>
  <md-list-item disabled >
    <span>Archive</span>
  </md-list-item>
  <md-list-item routerLink="enregistres" >
    <span>Enregistrés</span>
  </md-list-item>
</md-nav-list>
