<div mat-dialog-title>
  <h1>Répondre au courriel</h1>
</div>
<mat-dialog-content class="content">
  <mat-form-field class="">
    <input type="text" disabled required name="n_arrive" [value]="entityService.entity.numero" matInput
           placeholder="N° ">
  </mat-form-field>
  <h5>Objet</h5>
  <div id="objet" class="froala" [froalaEditor]="options" [(froalaModel)]="message.content"></div>

  <app-files [files]="message.files"></app-files>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" class="action-buttons">
  <app-upload-button (fileSelect)="getFiles($event)"></app-upload-button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button (click)="submit()" mat-button>Envoyer</button>
</mat-dialog-actions>
