
<mat-form-field class="">
  <input type="text" required [(ngModel)]="credentials.username" name="username" matInput
         placeholder="Nom d'utilisateur">
</mat-form-field>
<mat-form-field class="">
  <input type="password" required [(ngModel)]="credentials.password" name="password" matInput
         placeholder="Mot de passe">
</mat-form-field>
<mat-form-field class="">
  <input type="password" required [(ngModel)]="credentials.confirm_password" name="confirm_password" matInput
         placeholder="Confirmez votre mot de passe">
</mat-form-field>
