<mat-accordion>
  <mat-expansion-panel *ngFor="let thread of threads" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="sender">N° {{thread.n_depart}} - {{thread.date | date}}</div>
        <!--<div class="n">- {{thread.n_arrive}}</div>-->

      </mat-panel-title>
      <mat-panel-description [innerHtml]="thread.observations| slice:0:150">

        <!--<mat-icon>class</mat-icon>-->
      </mat-panel-description>
    </mat-expansion-panel-header>

    <thread [thread]="thread"></thread>

    <mat-action-row>
      <button mat-button color="primary" (click)="projecService.setProject(thread.project_id)"
              routerLink="/courriels/courriel">Voir
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
