<div class="container mat-elevation-z4" [style.background]="style().bg" [style.color]="style().color" fxLayout="row">
  <div class="action_buttons" *ngIf="showFab()" [style.width]="!status?'auto':'0px'" fxLayout="row">
    <button matTooltipPosition="before" (click)="toggleSidenav()" matTooltip="Menu" mat-icon-button class="write-email">
      <mat-icon>menu</mat-icon>
    </button>
    <button matTooltipPosition="before" (click)="saveProject()" matTooltip="Enregistrer" class="save" mat-mini-fab>
      <mat-icon>save</mat-icon>
    </button>
    <button matTooltipPosition="before" (click)="composeProject()" matTooltip="Ecrire" mat-mini-fab class="write-email">
      <mat-icon>edit</mat-icon>
    </button>
  </div>


  <mat-menu #menu="matMenu">
    <span style="padding: .8em; font-weight: bold">Trier par</span>
    <button mat-menu-item (click)="sortDate()">
      <mat-icon>calendar_today</mat-icon>
      <span>Date</span>
    </button>
    <button mat-menu-item (click)="sortNumero()">
      <mat-icon>format_list_numbered</mat-icon>
      <span>Numero</span>
    </button>
    <button mat-menu-item (click)="sortNumero()">
      <mat-icon>arrow_forward</mat-icon>
      <span>Destinataire</span>
    </button>
  </mat-menu>
  <mat-form-field>
    <mat-icon matPrefix>search</mat-icon>
    <input (focus)="searchFocus()" (keyup)="updateQuery()" matInput type="text" placeholder="Rechercher"
      [(ngModel)]="query">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <!-- <button mat-button fxItemAlign="right" [matMenuTriggerFor]="menu" aria-label="Trie">
    <mat-icon>sort</mat-icon> Trier
  </button> -->
  <button mat-button (click)="toggleFiltered()" fxItemAlign="right">
    <mat-icon>filter_list</mat-icon> Filtrer
  </button>
</div>

<!-- the form starts here -->
<div *ngIf="filtered" class="form filters" novalidate>
  <!-- removed the year because of redunduncy with folders -->
  <!-- starting date -->
  <mat-form-field class="filter">
    <input disabled [max]="form_max_date" (dateChange)='updateFilter()' [(ngModel)]="filter.start_date" 
      matInput [matDatepicker]="from_picker" placeholder="Depuis">
    <mat-datepicker-toggle matSuffix [for]="from_picker"></mat-datepicker-toggle>
  </mat-form-field>
  <mat-datepicker disabled="false" #from_picker></mat-datepicker>
  <!-- ending date -->
  <mat-form-field class="filter">
    <input disabled [max]="form_max_date"  (dateChange)='updateFilter()' [(ngModel)]="filter.end_date"  matInput
      [matDatepicker]="to_picker" placeholder="Vers">
    <mat-datepicker-toggle matSuffix [for]="to_picker"></mat-datepicker-toggle>
  </mat-form-field>
  <mat-datepicker disabled="false" #to_picker></mat-datepicker>
  <!-- sender -->

  <!-- <sender  [(sender)]="filter.sender"></sender> -->
  
  <!-- status -->
  <mat-form-field class="filter"  ngDefaultControl>
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="filter.status" (selectionChange)='updateFilter()'>
      <mat-option value='-1'></mat-option>
      <mat-option *ngFor="let status of statuses; let i = index" [value]="i">
        {{status}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>