<mat-accordion>
  <mat-expansion-panel *ngFor="let flow of flows" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="n"> N{{flow.n_arrive}} - {{flow.sender_entity_label}}</div>

      </mat-panel-title>
      <mat-panel-description [innerHtml]="flow.project_title">
      </mat-panel-description>
    </mat-expansion-panel-header>
      <flow [flow]="flow"></flow>


    <mat-action-row>
      <button *ngIf="treatable()" mat-button color="primary">
        <mat-icon class="mat-18">check</mat-icon>
        Traité/Vu
      </button>
      <button *ngIf="exportable()" mat-button color="primary" (click)="export(flow.id)">
        <mat-icon class="mat-18">file_upload</mat-icon>
        Exporter
      </button>
      <button *ngIf="answerable()" mat-button color="primary" (click)="answer(flow.id, flow.sender_entity_id)"><i
        class="material-icons">reply</i>
        Répondre
      </button>
      <button mat-button color="primary" *ngIf="entityService.downEntities.getValue().length > 0"
              (click)="dispatch(flow.project_id)"><i class="material-icons">call_split</i> Dispatcher
      </button>
      <mat-menu #appMenu="matMenu">
        <button *ngIf="decommissionable()" (click)="decommission(flow.id)" mat-menu-item>
          <mat-icon class="mat-18">swap_horiz</mat-icon>
          Déclasser
        </button>
        <button *ngIf="shippable()" (click)="ship(flow.id)" mat-menu-item>
          <mat-icon class="mat-18">file_upload</mat-icon>
          Livrer
        </button>
        <button *ngIf="shareable()" (click)="flow.share()" mat-menu-item>
          <mat-icon class="mat-18">share</mat-icon>
          Partager
        </button>
      </mat-menu>
      <button mat-icon-button color="primary" [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
