<project></project>
<div class="thread-list">
  <!--thread 1-->
  <thread [type]="'down'"></thread>
  <thread [type]="'up'"></thread>
  <thread [type]="'sent'"></thread>

  <!--thread 2-->
  <div class="entity">
    <span class="label">DSSA - <u>Vu/traité</u></span>
  </div>
  <thread [type]="'down'"></thread>
  <thread [type]="'up'"></thread>

  <!--thread 2-->
  <div class="entity">
    <span class="label">DSB - <u>En cours</u></span>
  </div>
  <thread [type]="'down'"></thread>
  <thread [type]="'up'"></thread>

  <!--thread 2-->
  <div class="entity">
    <span class="label">DRF - <u>Non traité</u></span>
  </div>
  <thread [type]="'down'"></thread>
</div>
