:host {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    display: flex;
    padding: 2em;
    flex-direction: column;
    text-align: center;
    * {
      margin: .5em;
    }
    .username {
      font-weight: bold;
    }
    .function {
      font-weight: 300;
    }
    app-user-avatar {
      width: 250px;
      height: 250px;
      margin: auto;
    }
  }
}
