<div mat-dialog-title>
  <h1>Partager </h1>
</div>
<mat-dialog-content class="content">
  <form (ngSubmit)="submit()" class="form" fxLayout="column">

    <h4>Destinataires</h4>
    <!--entities-->
    <div class="entities">
      <mat-checkbox *ngFor="let entity of entities" (click)="checkEntity(entity.id)"><strong>{{entity.label}}</strong> - {{entity.title}}</mat-checkbox>
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" class="action-buttons">
  <button (click)="dialogRef.close()" mat-button>ANNULER</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button (click)="submit()" mat-button>PARTAGER</button>
</mat-dialog-actions>
