<div fxFlex fxLayout.sm="column" fxLayout.xs="column" class="header">

  <section fxFlex="" class="description">
    <img src="../../assets/img/logo.png" alt="" class="logo">
    <div class=""><h3 class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A corporis distinctio
      maxime nam nesciunt, nostrum
      officiis optio quam.</h3></div>
    <div>
      <p class="lorem">Lorem ipsum dolor sit.</p>
    </div>
    <div>
      <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores assumenda, atque
        autem commodi
        deserunt, dicta doloremque dolorum explicabo id in incidunt inventore ipsam labore laudantium libero magni
        maiores
        maxime minus modi mollitia necessitatibus nostrum obcaecati pariatur perspiciatis porro possimus provident quasi
        quis, quisquam recusandae sapiente totam unde veritatis voluptas voluptatibus voluptatum! Dolorum, ipsam
        placeat.
        Eius error laudantium quia reiciendis!</p>
    </div> <div>
      <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores assumenda, atque
        autem commodi
        deserunt, dicta doloremque dolorum explicabo id in incidunt inventore ipsam labore laudantium libero magni
        maiores
        maxime minus modi mollitia necessitatibus nostrum obcaecati pariatur perspiciatis porro possimus provident quasi
        quis, quisquam recusandae sapiente totam unde veritatis voluptas voluptatibus voluptatum! Dolorum, ipsam
        placeat.
        Eius error laudantium quia reiciendis!</p>
    </div>
    <div>
      <p class="lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus asperiores assumenda, atque
        autem commodi
        deserunt, dicta doloremque dolorum explicabo id in incidunt inventore ipsam labore laudantium libero magni
        maiores
        maxime minus modi mollitia necessitatibus nostrum obcaecati pariatur perspiciatis porro possimus provident quasi
        quis, quisquam recusandae sapiente totam unde veritatis voluptas voluptatibus voluptatum! Dolorum, ipsam
        placeat.
        Eius error laudantium quia reiciendis!</p>
    </div>
  </section>
  <section *ngIf="!userService.connected.getValue()" fxFlex="" class="connexion" >
    <a routerLink="connexion">Connexion</a>
    <a routerLink="s-enregistrer">S'enregistrer</a>
  </section>
</div>
