
<mat-expansion-panel hideToggle="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="sender">{{flow.thread.entity.label}}</div>
      <div class="n">{{flow.thread.project.n_arrive}}</div>

    </mat-panel-title>
    <mat-panel-description [innerHtml]="flow.thread.project.title">
    </mat-panel-description>
  </mat-expansion-panel-header>

  <flow [flow]="flow"></flow>

  <mat-action-row>
    <button *ngIf="treatable()" mat-button color="primary">
      <mat-icon class="mat-18">check</mat-icon>
      Traité/Vu
    </button>
    <button *ngIf="answerable()" mat-button color="primary" (click)="answer(flow.id, flow.thread.entity_id)"><i class="material-icons">reply</i>
      Répondre
    </button>
    <button mat-button color="primary" *ngIf="entityService.downEntities.getValue().length > 0"
            (click)="dispatch(flow.thread.project_id)"><i class="material-icons">call_split</i> Dispatcher
    </button>
    <mat-menu #appMenu="matMenu">
      <button *ngIf="decommissionable()" mat-menu-item>
        <mat-icon class="mat-18">swap_horiz</mat-icon>
        Déclasser
      </button>
      <button *ngIf="shareable()" mat-menu-item>
        <mat-icon class="mat-18">share</mat-icon>
        Partager
      </button>
    </mat-menu>
    <button mat-icon-button color="primary" [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-action-row>
</mat-expansion-panel>
