<mat-form-field>
  <input [(ngModel)]="sender" (keyup)='up()' (optionSelected)='up()' required name="sender" matInput
    placeholder='Provenance / Prep' [matAutocomplete]="autoGroup">
  <mat-autocomplete #autoGroup="matAutocomplete" (optionSelected)='up()'>
    <mat-optgroup label='MEF'>
      <mat-option *ngFor="let entity of filteredEntities" [value]="entity.header">
        {{entity.label }}
        {{entity.header?' - '+entity.header:''}}
      </mat-option>
    </mat-optgroup>
  </mat-autocomplete>
</mat-form-field>
