<div mat-dialog-title>
  <h1>Exporter</h1>
</div>
<mat-dialog-content class="content">

  <!--depart auto-->
  <mat-form-field class="">
    <input type="text" disabled required [(ngModel)]="previousFlow.n_depart" name="depart" matInput
           placeholder="N° du courrier">
  </mat-form-field>
  <mat-form-field class="">
    <input [(ngModel)]="flow.receiver" required name="receiver" matInput placeholder="Destinaire">
  </mat-form-field>
  <mat-radio-group [(ngModel)]="flow.ship_for">
    <mat-radio-button value="1">BE</mat-radio-button>
    <mat-radio-button value="2">Avis</mat-radio-button>
    <mat-radio-button value="3">Signature</mat-radio-button>
  </mat-radio-group>
  <div *ngIf="isBe()">
    <!-- receiver entity -->
    <mat-form-field class="">
      <input matInput [(ngModel)]="be.entity" placeholder="Bureau Destinataire">
    </mat-form-field>
    <!-- sender entity -->
    <mat-form-field class="">
      <input matInput [(ngModel)]="be.author" placeholder="Expediteur">
    </mat-form-field>
    <!-- receiver title -->
    <mat-form-field class="">
      <input matInput [(ngModel)]="be.receiver" placeholder="Destinataire">
    </mat-form-field>
    <!-- Numero of the content -->
    <mat-form-field class="">
      <input matInput [(ngModel)]="be.numero" placeholder="N">
    </mat-form-field>
    <!-- Numero of the content -->
    <mat-form-field class="">
      <input matInput [(ngModel)]="be.observation" placeholder="Observation">
    </mat-form-field>

    <div *ngFor="let d of observations">
      <span>{{d.label}}</span>
      <span>{{d.number}}</span>
      <mat-icon (click)="removeObservation(d)">add</mat-icon>
    </div>
    <div>
      <mat-form-field class="">
        <input matInput [(ngModel)]="label" placeholder="Designation">
      </mat-form-field>
      <mat-form-field class="">
        <input matInput [(ngModel)]="number" placeholder="Quantite">
      </mat-form-field>
      <mat-icon (click)="addObservation()">add</mat-icon>
    </div>
  </div>


  <app-files [files]="flow.files"></app-files>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" class="action-buttons">
  <app-upload-button (fileSelect)="getFiles($event)"></app-upload-button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button matDialogClose="" (click)="submit()" mat-button>Exporter</button>
</mat-dialog-actions>
