<div mat-dialog-title>
  <h1>Exporter</h1>
</div>
<mat-dialog-content class="content">

  <!--depart auto-->
  <mat-form-field class="">
    <input type="text" disabled required [(ngModel)]="previousFlow.n_depart" name="depart" matInput
           placeholder="N° du courrier">
  </mat-form-field>
  <mat-form-field class="">
    <input [(ngModel)]="flow.receiver" required name="receiver" matInput placeholder="Destinaire">
  </mat-form-field>
  <mat-radio-group>
    <mat-radio-button value="1">Signature</mat-radio-button>
    <mat-radio-button value="2">Avis</mat-radio-button>
    <mat-radio-button value="3">BE</mat-radio-button>
  </mat-radio-group>
  <app-files [files]="flow.files"></app-files>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" class="action-buttons">
  <app-upload-button (fileSelect)="getFiles($event)"></app-upload-button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button matDialogClose="" (click)="submit()" mat-button>Exporter</button>
</mat-dialog-actions>
