<div mat-dialog-title>
  <h1>Exporter</h1>
</div>
<mat-dialog-content class="">

  <!--depart auto-->


  <mat-form-field>
    <mat-select [(ngModel)]="flow.sender_entity_id" name="type">
      <mat-option *ngFor="let entity of project.entities" [value]="entity.id">{{entity.label}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="">
    <input [(ngModel)]="flow.receiver" required name="receiver" matInput placeholder="Destinaire">
  </mat-form-field>

  <!-- observation of the content -->
  <mat-form-field class="">
    <textarea matInput [(ngModel)]="flow.conten" placeholder="Objet"></textarea>
  </mat-form-field>
  <mat-radio-group [(ngModel)]="flow.ship_for">
    <mat-radio-button *ngFor="let type of ship_types; let i = index" [value]="i">{{type}}</mat-radio-button>
  </mat-radio-group>


  <!--be form-->


  <app-files [files]="flow.files"></app-files>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" class="action-buttons">
  <app-upload-button (fileSelect)="getFiles($event)"></app-upload-button>
  <!-- Can optionally provide a result for the closing dialog. -->

  <button [disabled]="loading" matDialogClose="" (click)="submit()" mat-button>
    <loading-button *ngIf="loading"></loading-button>
    <mat-icon *ngIf="!loading">file_upload</mat-icon>
    Exporter
  </button>
</mat-dialog-actions>
