:host {
  display: grid;
  grid-template-columns:  1.2fr 1.5fr 1.4fr;
  background-color: #fff;
  .direction, .observations, .attachments {
    padding: 1em;
  }

  .observations {

  }

  .all-sent {
    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    padding: 2em 1em;
    .date {
      text-align: center;
    }
    .sent {
      display: grid;
      grid-template-columns: 1fr 2fr;
      .entity {
        font-weight: bold;
        text-align: right;
      }
      div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .date {
    text-align: center;
  }
}
