<button mdTooltipPosition="before" (click)="saveEmail()" mdTooltip="Enregistrer un courrier" class="save" md-mini-fab><md-icon>save</md-icon></button>
<button mdTooltipPosition="before" (click)="report()" mdTooltip="Ecrire un compte rendu" class="save" md-mini-fab><md-icon>feedback</md-icon></button>
<!--<button mdTooltipPosition="before" mdTooltip="Commencer une session" class="create-session" md-mini-fab><md-icon>assessment</md-icon></button>-->
<button *ngIf="!answer" mdTooltipPosition="before" (click)="writeEmail()" mdTooltip="Ecrire" md-fab class="write-email"><md-icon>edit</md-icon></button>
<button *ngIf="answer" mdTooltipPosition="before" (click)="answerEmail()" mdTooltip="Répondre" md-fab class="write-email"><md-icon>reply</md-icon></button>
