<div class="description">

  <h4 class="label">
    N° Arrivé {{project.entity.label}}
  </h4>
  <p>{{project.n_arrive_dg}}</p>

  <h4 class="label">
    N° du courrier
  </h4>
  <p>- {{project.n_arrive}}</p>

  <h4 class="label">
    Expéditeur
  </h4>
  <p>{{project.sender}}</p>

  <h4 class="label">
    Date du courrier
  </h4>
  <p>{{project.date | date}}</p>

  <h4 class="label">
    Objet
  </h4>
  <div [innerHtml]="project.title"></div>

  <h4 class="label">
    Observation
  </h4>
  <div [innerHtml]="project.content"></div>
  <h4 class="label">
    Pièces jointes
  </h4>
  <div class="attachments">
    <file *ngFor="let file of project.files" [file]="file"></file>
  </div>

</div>
