<div class="description">

  <h4 class="label">
    N° Arrivé DGB
  </h4>
  <p>5600</p>

  <h4 class="label">
    N° Arrivé MFB
  </h4>
  <p>- N° 055-2016/#######</p>

  <h4 class="label">
    Expéditeur
  </h4>
  <p>PM Chef du Gouv</p>

  <h4 class="label">
    Date du courrier
  </h4>
  <p>20/12/2017</p>

  <h4 class="label">
    Objet
  </h4>
  <p>- Présentat° du rapport de la miss° d'évaluat° des besoins électoraux</p>

  <h4 class="label">
    Observation
  </h4>
  <p>Venant SG MFB : DGB : arrivée tardive mais ddeer tout de même cpte rendu - DGB pi DSSA - Pr info°</p>

  <h4 class="label">
    Pièces jointes
  </h4>
  <div class="attachments">
    some attachements
  </div>
</div>
