<div class="content">

  <div *ngIf="!composed()" class="description">
    <h4 class="label">
      N° Arrivé {{entityService.entity.getValue()['label']}}
    </h4>
    <div>{{project.n_arrive_dg}}
      <mat-chip-list>
        <mat-chip [color]="'primary'">{{letter_types[project.letter]}}</mat-chip>
        <mat-chip [color]="'accent'">{{in_types[project.type]}}</mat-chip>
      </mat-chip-list></div>
  </div>

  <div class="description">
    <h4 class="label">
      N° du courrier
    </h4>
    <div>{{project.n_arrive}}</div>
  </div>

  <div class="description">
    <h4 class="label">
      Expéditeur
    </h4>
    <div>{{project.sender}}</div>
  </div>

  <div class="description">
    <h4 *ngIf="!composed()" class="label">
      Date du courrier
    </h4>
    <h4 *ngIf="composed()" class="label">
      Date
    </h4>
    <div>{{project.date | date:'medium'}}</div>
  </div>

  <div *ngIf="!composed()" class="description">
    <h4 class="label">
      Date de réception
    </h4>
    <div>{{project.received_at | date}}</div>
  </div>

  <div class="description">
    <h4 class="label">
      Objet
    </h4>
    <div [innerHtml]="project.title"></div>
  </div>

  <div *ngIf="project.content" class="description">
    <h4 class="label">
      Observation
    </h4>
    <div [innerHtml]="project.content"></div>
  </div>
  <div *ngIf="!composed() && project.ref" class="description">
    <h4 class="label">
      Référence
    </h4>
    <div [innerHtml]="project.ref"></div>
  </div>
  <div class="description" *ngIf="project['files']">
    <h4 *ngIf="project['files'].length > 0" class="label">
      Pièces jointes
    </h4>
    <div class="attachments">
      <file *ngFor="let file of project.files" [file]="file"></file>
    </div>
  </div>


</div>
