:host {
  label {
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    padding: .3em 1em;
    user-select: none;
    margin-right: .5em;
    border-radius: 19px;
    background-color: #fff;
    border: 2px solid #fff;
  }

  label:hover{
    color:  #0DA4E6;

    //transitions
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  input[type='radio'] {
    display: none;
    margin: 0;
  }

  input:checked + label {
    color:  #0DA4E6;
    border: 2px solid #0DA4E6;

    //transitions
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

}
