<div mat-dialog-title>
  <app-user-box [user]="user"></app-user-box>
</div>
<mat-dialog-content class="content">

  <app-save-form [(project)]="project"></app-save-form>

  <app-files [files]="files"></app-files>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" class="action-buttons">
  <app-upload-button (fileSelect)="getFiles($event)"></app-upload-button>

  <button [disabled]="loading || !validProject()" (click)="submit()" mat-button>
    <mat-icon *ngIf="!loading" class="mat-18">save</mat-icon>
    <loading-button *ngIf="loading"></loading-button>
    ENREGISTRER
  </button>
</mat-dialog-actions>
