:host {
  padding-left: 1em;
  background-color: #E8E8E8;
  border-radius: 3px;
  margin-bottom: 1em;
  color: #555;
  text-decoration: none;

  .sender {
    flex-basis:100px;
  }

  .sender, .content{
    color: #555;
    text-decoration: none;
  }


  .star {

  }

  .attachment-icon {
    flex-basis:40px;
  }

  .date {
  }

  .content {
    flex-grow: 6;
    justify-content: center;
    align-self: center;
  }

  .sender, .star, .date, .attachment-icon {
    display: flex;
    justify-content: center;
    align-self: center;
  }

  &:hover {
    background-color: #d6d6d6;
  }
}

:host[unseen] .sender, :host[unseen] .title {
  font-weight: bold;
}
