<app-user-sidenav-profil class="side-nav-item padded"></app-user-sidenav-profil>
<app-user-sidenav-time></app-user-sidenav-time>
<!-- <search></search> -->
<!--<app-user-sidenav-mailmenu class="side-nav-item"></app-user-sidenav-mailmenu>-->
<!--<app-user-sidenav-usermenu class="side-nav-item"></app-user-sidenav-usermenu>-->
<!--todo setting option-->

<!--todo dgbcourriel logo-->
<mat-nav-list side-nav-item>
  <div class="button">

    <button (click)="saveEmail()" appearance="legacy" mat-raised-button>
      <mat-icon>save</mat-icon> Enregistrer
    </button>
  </div>

  <mat-list-item routerLink="/">
    <mat-icon class="mat-18">save</mat-icon>
    <span>Enregistrés</span>
  </mat-list-item>

  <mat-list-item routerLink="/reçus">
    <mat-icon class="mat-18">inbox</mat-icon>
    <strong>Reçus </strong>
  </mat-list-item>

  <mat-list-item routerLink="/envoyes">
    <mat-icon class="mat-18">send</mat-icon>
    <span>Envoyés </span>
  </mat-list-item>


  <div class="button">
    <button (click)="writeEmail()" mat-raised-button>
      <mat-icon>edit</mat-icon> Ecrire
    </button>
  </div>

  <mat-list-item routerLink="/departements">
    <mat-icon class="mat-18">call_merge</mat-icon>
    <span>Départements</span>
  </mat-list-item>

  <mat-list-item routerLink="/classeurs">
    <!-- <mat-icon class="mat-18">call_merge</mat-icon> -->
    <mat-icon class="mat-18">book</mat-icon>
    <span>Classeurs</span>
  </mat-list-item>

  <h4 class="nav-header">
    _____
  </h4>

  <!-- labels -->

  <mat-list-item routerLink="/status/2">
    <span>Pour lecture</span>
  </mat-list-item>

  <mat-list-item routerLink="/status/3">
    <span>Pour signature</span>
  </mat-list-item>

  <mat-list-item routerLink="/status/4">
    <span>Signé</span>
  </mat-list-item>
  
  <div class="button">
    <button (click)="exportAll()" appearance="legacy" mat-raised-button>
      <mat-icon>print</mat-icon> Export XLSX
    </button>
  </div>
  <!-- <mat-list-item routerLink="/templates">
      <mat-icon class="mat-18">library_books</mat-icon>
      <span>Templates</span>
    </mat-list-item> -->
  <!-- 
    <h4 class="nav-header">
      _____
    </h4> -->
  <!-- <mat-list-item routerLink="/exportes">
      <mat-icon class="mat-18">file_upload</mat-icon>
      <span>Exportés ({{shipped_count}})</span>
    </mat-list-item> -->
  <!-- <mat-list-item routerLink="/importes">
      <mat-icon class="mat-18">file_download</mat-icon>
      <span>Importés ({{returned_count}})</span>
    </mat-list-item> -->
</mat-nav-list>
