:host {
  display: block;
  .email-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: .6em;
    border-bottom:1px solid grey;
    .email-sent-info {
      align-self: flex-end;
      text-align: right;
    }
  }
}
