:host {
  display: block;
  .email-header {
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid grey;
    app-user-box{
      flex: 1 1;
    }

    .email-sent-info {
      align-self: center;
      flex: 1 1;
      font-size: .7em;
      text-align: right;
    }

    app-email-menu-button{
      flex: .1;
      align-self: center;
    }
  }
}
