:host {
  margin: 1em;
  border-radius: 5px;
  display: flex;
  .file-icon
  {

    img{
      width: 50px;
      height: auto;
    }
  }
  .file-info {
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    color: #77839F;
    .title {
      color: #77839F;
      font-weight: bold;
      text-decoration: underline;
    }
    .filesize {
      font-weight: normal;
    }
  }
}
