<div md-dialog-title>
  <app-user-box [user]="user"></app-user-box>
</div>
<md-dialog-content class="content">
  <form (ngSubmit)="submit()" class="form" fxLayout="column">

    <md-input-container class="">
      <input  type="number" required [(ngModel)]="saved.n_arrive" name="n_arrive" mdInput placeholder="N° arrivée">
    </md-input-container>
    <md-input-container class="">
      <input  type="number" required [(ngModel)]="saved.n_arrive_dg" name="n_arrive_dg" mdInput placeholder="N° arrivée Direction Général">
    </md-input-container>
    <md-input-container class="">
      <input  [(ngModel)]="saved.sender" required name="sender" mdInput placeholder="Expediteur">
    </md-input-container>
    <md-input-container>
      <input  [(ngModel)]="saved.date" required name="date" mdInput [mdDatepicker]="picker" placeholder="Date">
      <button mdSuffix [mdDatepickerToggle]="picker"></button>
      <md-hint align="start">DD/MM/YYYY</md-hint>
    </md-input-container>
    <md-datepicker #picker></md-datepicker>
    <md-input-container class="">
      <input  [(ngModel)]="saved.ref" required name="ref" mdInput placeholder="Référence">
    </md-input-container>
    <md-input-container class="">
      <input  [(ngModel)]="saved.title" required name="title" mdInput placeholder="Objet">
    </md-input-container>
    <md-input-container>
      <input  mdInput [(ngModel)]="saved.received_date" required name="received_date" [mdDatepicker]="recieved_picker" placeholder="Reçu le">
      <button mdSuffix [mdDatepickerToggle]="recieved_picker"></button>
      <md-hint align="start">DD/MM/YYYY</md-hint>
    </md-input-container>
    <md-datepicker #recieved_picker></md-datepicker>
    <div class="froala" [froalaEditor]="options" [(froalaModel)]="saved.content"></div>
    <app-files [files]="saved.files"></app-files>
  </form>
</md-dialog-content>
<md-dialog-actions fxLayout="row" class="action-buttons">
  <app-upload-button (fileSelect)="getFiles($event)"></app-upload-button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button (click)="submit()" md-button>ENREGISTRER</button>
</md-dialog-actions>
