<div fxLayout="row" class="static-header">
  <div fxFlex="10" class="image">
    <img src="../../../assets/img/mfb.png" alt="">
  </div>
  <div style="text-align: center;" fxFlex="75">
    REPOBLIKAN&acute;I MADAGASIKARA<br>
    <i>Fitiavana-Tanindrazana-Fandrosoana</i><br>
    ---------<br>
  </div>
  <div fxFlex="10" class="image">
    <img src="../../../assets/img/dgb-logo.jpg" alt="">
  </div>
</div>
<header fxLayout="row">
  <div style="font-weight: bold;" fxFlex="40" class="sender">
    MINISTERE <br> DES FINANCES ET DU BUDGET <br>
    ------------- <br>
    SECRET ARIAT GENERAL <br>
    ------------- <br>
    DIRECTION GENERALE DU BUDGET <br>
    ------------- <br>
    DSB
  </div>
  <div fxFlex="60" class="somethingha3">
    Antananarivo, le 30 MARS 2017<br>
    {{be.sender}} <br>
    a<br>
    {{be.receiver_label}}<br>
  </div>
</header>
<div class="id">
  N°{{be.numero}}
</div>
<h2 class="title">
  BORDEREAU D'ENVOI
</h2>

<div fxLayout="row" class="table-headers">
  <div fxFlex="50" class="table-header">DESIGATION</div>
  <div fxFlex="10" class="table-header">NOMBRE</div>
  <div fxFlex="40" class="table-header">OBSERVATIONS</div>
</div>
<div class="content-wrapper" fxLayout="row">
  <div class="" fxFlex="60">
    <div *ngFor="let o of be.attached_files" fxLayout="row" class="block">
      <div fxFlex="80" class="">{{o.title}}</div>
      <div fxFlex="20" class="number">{{o.count}}</div>
    </div>
  </div>
  <div fxFlex="40" class="observation">
    {{be.observation}}
  </div>
</div>
