<div mat-dialog-title>
  <app-user-box [user]="user"></app-user-box>
</div>
<mat-dialog-content fxLayout="column" class="content">
  <!--arrive mfb auto-->
  <!-- <mat-form-field class="">
    <input type="text" disabled required [(ngModel)]="composition.n_arrive" name="n_arrive" matInput
      placeholder="N° du courrier">
  </mat-form-field> -->

  <mat-form-field class="">
      <input [(ngModel)]="composition.ref" required name="ref" matInput placeholder='Reference'>
  </mat-form-field>

  <mat-form-field class="">
    <textarea [(ngModel)]="composition.title" required name="title" matInput placeholder="Objet"></textarea>
  </mat-form-field>

  <mat-form-field class="">
    <textarea [(ngModel)]="composition.content" required name="content" matInput placeholder="Note / Observation"></textarea>
  </mat-form-field>

  <receivers [(receiver)]="composition.receiver"  [(receivers)]="composition.receivers"></receivers>


  <!-- 
  <mat-checkbox *ngIf="composition.receivers.length == 1" [(ngModel)]="composition.hasBe">BORDEREAU D'ENVOI
  </mat-checkbox> -->
  <!-- <be *ngIf="composition.hasBe" (onUpdate)="updateBe($event)"></be> -->

  <!--date de depart auto-->
  <app-files [files]="composition.files"></app-files>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" class="action-buttons">
  <app-upload-button (fileSelect)="getFiles($event)"></app-upload-button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button [disabled]="loading || !valid()" (click)="submit()" mat-button>
    <mat-icon *ngIf="!loading" class="mat-18">send</mat-icon>
    <loading-button *ngIf="loading"></loading-button>
    Envoyer
  </button>
</mat-dialog-actions>
