<div mat-dialog-title>
  <app-user-box [user]="user"></app-user-box>
</div>
<mat-dialog-content fxLayout="column" class="content">
  <!--arrive mfb auto-->
  <!-- <mat-form-field class="">
    <input type="text" disabled required [(ngModel)]="project.n_arrive" name="n_arrive" matInput
      placeholder="N° du courrier">
  </mat-form-field> -->

  <app-save-form (updated)='updateForm($event)' [(project)]="project"></app-save-form>


  <receivers (updated)="updateReceiver($event)"></receivers>


  <!-- 
  <mat-checkbox *ngIf="project.receivers.length == 1" [(ngModel)]="project.hasBe">BORDEREAU D'ENVOI
  </mat-checkbox> -->
  <!-- <be *ngIf="project.hasBe" (onUpdate)="updateBe($event)"></be> -->

  <!--date de depart auto-->
  <app-files [files]="project.files"></app-files>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" class="action-buttons">
  <app-upload-button (fileSelect)="getFiles($event)"></app-upload-button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button [disabled]="loading || !valid()" (click)="submit()" mat-button>
    <mat-icon *ngIf="!loading" class="mat-18">send</mat-icon>
    <loading-button *ngIf="loading"></loading-button>
    Envoyer
  </button>
</mat-dialog-actions>
