<h4>BORDEREAU D'ENVOI</h4>
<mat-form-field class="">
  <input (change)="update()" matInput [(ngModel)]="be.sender" required placeholder="Expéditeur">
</mat-form-field>

<mat-form-field class="">
  <input (change)="update()" [(ngModel)]="be.receiver" required name="receiver_label" matInput placeholder="Label destinaire">
</mat-form-field>

<div *ngIf="be.titles.length" class="designation-row" fxLayout="row" class="content">
  <div fxFlex="70">DESIGNATION</div>
  <div fxFlex="20">NOMBRE</div>
  <mat-icon fxFlex="10"></mat-icon>
</div>

<div fxLayout="row" class="designation-row" *ngFor="let d of be.titles;let i = index">
  <div class="be_label" fxFlex="70">{{be.titles[i]}}</div>
  <div class="be_label" fxFlex="20">{{be.counts[i]}}</div>
  <button mat-icon-button="" fxFlex="10" (click)="removeAttach(d)" color="warn">
    <mat-icon>remove_circle_outline</mat-icon>
  </button>
</div>

<div fxLayout="row" class="content">
  <mat-form-field fxFlex="70" class="">
    <input #title_input matInput [(ngModel)]="title" placeholder="Designation">
  </mat-form-field>
  <mat-form-field fxFlex="20" class="">
    <input matInput (keyup.enter)="addAttach(); title_input.focus()" [(ngModel)]="count" placeholder="Nombre">
  </mat-form-field>
  <button [disabled]="!validAttach()" mat-icon-button="" fxFlex="10" (click)="addAttach(); title_input.focus()" color="primary">
    <mat-icon>add_circle_outline</mat-icon>
  </button>
</div>
