<div class="direction">
  <div class="date">{{flow.date | date}}</div>
  <!--<div class="date">{{flow.date | date:'medium'}}</div>-->

  <div class="top" *ngIf="flow.direction == 1"> {{flow.sender_entity_label}}</div>
  <div class="top" *ngIf="flow.direction == 2"> {{flow.entity_label}}</div>
  <div class="top" *ngIf="flow.direction == 3 || flow.direction == 4"> {{flow.destination}}</div>

  <div class="top-id" *ngIf="flow.direction == 1">{{flow.n_depart}}</div>
  <div class="top-id" *ngIf="flow.direction == 2">{{flow.n_arrive}}</div>
  <div class="arrow">
    <mat-icon *ngIf="flow.direction == 1">arrow_downward</mat-icon>
    <mat-icon *ngIf="flow.direction == 2">arrow_upward</mat-icon>
    <mat-icon *ngIf="flow.direction == 3">arrow_back</mat-icon>
    <mat-icon *ngIf="flow.direction == 4">arrow_forward</mat-icon>
  </div>
  <div class="bottom" *ngIf="flow.direction == 1 || flow.direction == 4"> {{flow.entity_label}}</div>
  <div class="bottom" *ngIf="flow.direction == 2  || flow.direction == 3 ">{{flow.sender_entity_label}}</div>

  <div class="bottom-id" *ngIf="flow.direction == 1 || flow.direction == 4">{{flow.n_arrive}}</div>
  <div class="bottom-id" *ngIf="flow.direction == 2  || flow.direction == 3">{{flow.n_depart}}</div>
</div>


<div class="observations">

  <!--
    here we add the decomissioned\treated\and so on
  -->

  <h5><u>N </u><b>{{flow.numero}}</b></h5>
  <h4 *ngIf="!flow.answer">Observation</h4>
  <h4 *ngIf="flow.answer">Note</h4>
  <div [innerHtml]="flow.content"></div>
</div>

<div class="attachments">
  <!--<h4 *ngIf="flow.decommissioned" class="tag tag-decommissioned">Declasse</h4>-->
  <!--<h4 *ngIf="flow.shipped" class="tag tag-decommissioned">Exporte</h4>-->
  <!--<h4 *ngIf="flow.shared" class="tag tag-decommissioned">Partage</h4>-->
  <h4 *ngIf="flow.files.length > 0">Pièce jointes</h4>
  <file *ngFor="let file of flow.files" [file]="file"></file>
</div>
