<div class="direction">
  <div class="date">{{flow.date | date:'medium'}}</div>
  <!--<div class="date">{{flow.date | date:'medium'}}</div>-->

  <div class="top"> {{up_label()}}</div>
  <div class="top-id">{{up_n()}}</div>
  <div class="arrow">
    <mat-icon>{{arrow()}}</mat-icon>
  </div>
  <div class="bottom"> {{down_label()}}</div>
  <div class="bottom-id">{{down_n()}}</div>
</div>


<div class="observations">

  <!--
    here we add the decomissioned\treated\and so on
  -->

  <h5><u>N </u><b>{{flow.numero}}</b></h5>
  <div class="" *ngIf="flow.content">
    <h4 *ngIf="!flow.answer">Observation</h4>
    <h4 *ngIf="flow.answer">Note</h4>
    <div [innerHtml]="flow.content"></div>
  </div>

</div>

<div class="attachments">
  <button *ngIf="flow.be" (click)="openBe()" mat-button>
    <mat-icon class="mat-18">print</mat-icon>
    BE
  </button>
  <!--<h4 *ngIf="flow.decommissioned" class="tag tag-decommissioned">Declasse</h4>-->
  <!--<h4 *ngIf="flow.shipped" class="tag tag-decommissioned">Exporte</h4>-->
  <!--<h4 *ngIf="flow.shared" class="tag tag-decommissioned">Partage</h4>-->
  <h4 *ngIf="flow.files.length > 0">Pièce jointes</h4>
  <file *ngFor="let file of flow.files" [file]="file"></file>
</div>
