:host {
  display: grid;
  grid-template-columns: 1.2fr 1.5fr 1.4fr;
  background-color: #fff;
  .direction, .observations, .attachments {
    padding: 1em;
  }

  .observations{

  }

  .direction {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-areas: "date date date" "arrow top top-id" "arrow bottom bottom-id";
    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .date {
      grid-area: date;
    }
    .top {
      grid-area: top;
    }
    .top-id {
      grid-area: top-id;
    }

    .bottom {
      grid-area: bottom;
    }
    .bottom-id {
      grid-area: bottom-id;
    }
    .arrow {

      grid-area: arrow;
    }
  }

  .sent {
    display: grid;
    padding:2em 1em;
    grid-template-columns: 1fr 2fr;
    .entity {
      font-weight:bold;
      text-align: right;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .date {
    text-align: center;
  }
}
