<div mat-dialog-title *ngIf="mail.user">
  <app-user-box [user]="mail.user"></app-user-box>
</div>
<mat-dialog-content class="content">
  <form (keyup.enter)="submit()" (ngSubmit)="submit()" class="form" fxLayout="column">
    <mat-form-field class="">
      <input name="title"  [(ngModel)]="mail.title" matInput placeholder="Sujet">
    </mat-form-field>
    <div class="froala" name="content" [froalaEditor]="options" [(froalaModel)]="mail.content"></div>
    <app-files [files]="mail.files"></app-files>
  </form>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" class="action-buttons">
  <app-upload-button (fileSelect)="getFiles($event)"></app-upload-button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button mat-button (click)="submit()">ENVOYER</button>
</mat-dialog-actions>
