<div md-dialog-title *ngIf="mail.receiver">
  <app-user-box [user]="mail.receiver"></app-user-box>
</div>
<md-dialog-content class="content">
  <md-input-container class="">
    <input [(ngModel)]="mail.title" mdInput placeholder="Sujet">
  </md-input-container>
  <div class="froala" [froalaEditor]="options" [(froalaModel)]="mail.content"></div>
  <app-files [files]="mail.files"></app-files>
</md-dialog-content>
<md-dialog-actions fxLayout="row" class="action-buttons">
  <app-upload-button (fileSelect)="getFiles($event)"></app-upload-button><!-- Can optionally provide a result for the closing dialog. -->
  <button md-button [md-dialog-close]="true" (click)="sendtrigger()">ENVOYER</button>
</md-dialog-actions>
