<div mat-dialog-title>
  <h1>Dispatcher </h1>
</div>
<mat-dialog-content class="content">
  <h4>Destinataires</h4>


  <div class="entities">
    <mat-checkbox *ngFor="let entity of entities" (change)="checkEntity(entity.id)">{{entity.title}}</mat-checkbox>
  </div>


  <h4>Observations:</h4>
  <div class="observations">
    <mat-checkbox *ngFor="let observation of observations" (change)="toggleObservation(observation)" >{{observation}}</mat-checkbox>
  </div>
  <h5>Autres observations</h5>
  <div id="objet" class="froala" [froalaEditor]="options" [(froalaModel)]="thread.content"></div>

  <app-files [files]="thread.files"></app-files>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" class="action-buttons">
  <app-upload-button (fileSelect)="getFiles($event)"></app-upload-button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button  [disabled]="loading || !validReceiver()"  matDialogClose="" (click)="submit()" mat-button>
    <mat-icon *ngIf="!loading">call_split</mat-icon>

    <loading-button *ngIf="loading"></loading-button>
    DISPATCH</button>
</mat-dialog-actions>
