<div mat-dialog-title>
  <p style="text-decoration:underline;">Envoie </p>
</div>
<mat-dialog-content class="content">


  <h4>Observations:</h4>
  <div class="observations">
    <mat-checkbox *ngFor="let observation of observations" (change)="toggleObservation(observation)">{{observation}}
    </mat-checkbox>
  </div>
  <mat-form-field class="">
    <textarea [(ngModel)]="thread.content" name="content" matInput placeholder="Autres observations"></textarea>
  </mat-form-field>

  <!-- receivers -->
  <receivers (updated)="updateReceiver($event)"></receivers>

  <app-files [files]="thread.files"></app-files>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" class="action-buttons">
  <app-upload-button (fileSelect)="getFiles($event)"></app-upload-button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button [disabled]="loading || !validReceiver()" matDialogClose="" (click)="submit()" mat-button>
    <mat-icon *ngIf="!loading">call_split</mat-icon>

    <loading-button *ngIf="loading"></loading-button>
    ENVOYER
  </button>
</mat-dialog-actions>