<mat-nav-list>
  <mat-list-item routerLink="/courriers">
    <mat-icon class="mat-18">markunread_mailbox</mat-icon>
    <span>Courriers (40)</span>
  </mat-list-item>
  <mat-list-item>
    <!--<mat-icon class="mat-18">people_outline</mat-icon>-->
    <span>En cours (16)</span>
  </mat-list-item>
  <mat-list-item>
    <!--<mat-icon class="mat-18">people_outline</mat-icon>-->
    <span>Traités</span>
  </mat-list-item>
  <mat-list-item>
    <!--<mat-icon class="mat-18">people_outline</mat-icon>-->
    <span>Tout les courriers </span>
  </mat-list-item>
</mat-nav-list>
