<button  mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>assignment</mat-icon>
    <span>Assigner</span>
  </button>
  <button mat-menu-item>
    <mat-icon>send</mat-icon>
    <span>Transférer</span>
  </button>
  <button mat-menu-item>
    <mat-icon>archive</mat-icon>
    <span>Archiver</span>
  </button>
  <button mat-menu-item>
    <mat-icon>delete</mat-icon>
    <span>Supprimer</span>
  </button>
</mat-menu>
