<div class="session-container">
  <h1> title lorem</h1>
  <h3>description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi culpa debitis dicta excepturi
    harum minima neque non placeat quos recusandae soluta, ut voluptas voluptatibus voluptatum! Delectus in sapiente
    voluptate? Lorem ipsum dolor sit amet.</h3>

  <div class="date">Crée le 25 Decembre 2017</div>

  <!--members component-->
  <app-session-members></app-session-members>

  <!--messages-->
  <app-session-message right></app-session-message>
  <app-session-message left></app-session-message>
  <app-session-message right></app-session-message>
  <app-session-message left></app-session-message>
  <app-session-message left></app-session-message>
  <app-session-message right></app-session-message>
  <app-session-message left></app-session-message>
</div>
<app-session-messagebox></app-session-messagebox>
