:host {
  display: flex;
  flex-direction: column;
  flex-basis:600px;
  .content {
    display: flex;
    flex-direction: column;
  }

  mat-radio-group {
    display: inline-flex;
    flex-direction: column;
  }

  mat-radio-button {
    margin: 5px;
  }

}
