/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,latin-ext,greek-ext,greek,vietnamese,cyrillic,cyrillic-ext");

body {
  padding: 0;
  font-family: Roboto, sans-serif;

  .froala.fr-box {
    margin: 1em 2em;
    z-index: 1000;

    //froala unlicenced here for the 1st
    div:nth-child(4) {
      background-color: #fff !important;
      a {
        background-color: #fff !important;
      }
    }
    //froala unlicenced here for the 1st
    div:nth-child(3) {
      background-color: #fff !important;
      a {
        background-color: #fff !important;
      }
    }
  }

  .mat-dialog-container {
    flex-basis: 600px;
  }

  .lorem {
    display: inline !important;
    background-color: #6b6b6b;
    text-align: justify;
    color: #6b6b6b;
    line-height: 30px !important;
  }

  .mat-sidenav-container {
    background-color: #efefef;
  }

  .mat-sidenav-content {

  }
}

mat-list-item[disabled] {
  opacity: .5;
  cursor: none;
}

html, body {
  margin: 0;
}

mat-icon {
  padding-right: 16px;
}

mat-nav-list {
  mat-list-item {
    color: #fff !important;
  }
}

.action-buttons {

  bottom: 0;
  position: relative;
  justify-content: space-between;
}
