<mat-accordion>
  <mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="sender">PM Chef du Gouv</div>
        <div class="n">- N° 055-2016/PM/SP</div>

      </mat-panel-title>
      <mat-panel-description>
        - Présentat° du rapport de la miss° d'évaluat° des besoins électoraux
        <!--<mat-icon>class</mat-icon>-->
      </mat-panel-description>
    </mat-expansion-panel-header>

    <project></project>

    <mat-action-row>
      <button mat-button color="primary">Répondre</button>
      <button mat-button color="primary" (click)="dispatch()">Dispatch</button>
    </mat-action-row>
  </mat-expansion-panel>
  <mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="sender">PM Chef du Gouv</div>
        <div class="n">- N° 055-2016/PM/SP</div>

      </mat-panel-title>
      <mat-panel-description>
        - Présentat° du rapport de la miss° d'évaluat° des besoins électoraux
        <!--<mat-icon>class</mat-icon>-->
      </mat-panel-description>
    </mat-expansion-panel-header>

    <thread [type]="'up'"></thread>

    <mat-action-row>
      <button mat-button color="primary">Répondre</button>
      <button mat-button color="primary" (click)="dispatch()">Dispatch</button>
    </mat-action-row>
  </mat-expansion-panel><mat-expansion-panel hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="sender">PM Chef du Gouv</div>
        <div class="n">- N° 055-2016/PM/SP</div>

      </mat-panel-title>
      <mat-panel-description>
        - Présentat° du rapport de la miss° d'évaluat° des besoins électoraux
        <!--<mat-icon>class</mat-icon>-->
      </mat-panel-description>
    </mat-expansion-panel-header>

    <thread [type]="'down'"></thread>

    <mat-action-row>
      <button mat-button color="primary">Répondre</button>
      <button mat-button color="primary" (click)="dispatch()">Dispatch</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
