<mat-accordion>
  <!--flows-->
  <mat-expansion-panel *ngFor="let flow of flows" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="sender">{{flow.thread.entity.label}}</div>
        <div class="n">{{flow.thread.project.n_arrive}}</div>

      </mat-panel-title>
      <mat-panel-description [innerHtml]="flow.thread.project.title">
      </mat-panel-description>
    </mat-expansion-panel-header>

    <flow [flow]="flow"></flow>

    <mat-action-row>
      <!--<button mat-button color="primary">Archiver</button>-->
      <!--<button mat-button color="primary">Répondre</button>-->
      <button mat-button color="primary" (click)="projectService.setProject(flow.thread.project_id)"
              routerLink="/courriels/courriel">Voir
      </button>
      <button mat-button color="primary">
        <mat-icon class="mat-18">check</mat-icon>
        Traité/Vu
      </button>
      <button mat-button color="primary" (click)="answer(flow.id, flow.thread.entity_id)"><i class="material-icons">reply</i>
        Répondre
      </button>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item>
          <mat-icon class="mat-18">swap_horiz</mat-icon>
          Déclasser
        </button>
        <button mat-menu-item>
          <mat-icon class="mat-18">share</mat-icon>
          Partager
        </button>
      </mat-menu>

      <button mat-button color="primary" *ngIf="entityService.downEntities.getValue().length > 0"
              (click)="dispatch(flow.thread.project_id)"><i class="material-icons">call_split</i> Dispatcher
      </button>
      <button mat-icon-button color="primary" [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>

  <!--messages-->
  <mat-expansion-panel *ngFor="let message of messages" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="sender">{{message.sender_entity.label}}</div>
        <div class="n">{{message.flow.thread.project.n_arrive}}</div>

      </mat-panel-title>
      <mat-panel-description [innerHtml]="message.flow.thread.project.title">
      </mat-panel-description>
    </mat-expansion-panel-header>

    <message [message]="message"></message>

    <mat-action-row>
      <!--<button mat-button color="primary">Archiver</button>-->
      <!--<button mat-button color="primary">Répondre</button>-->
      <button mat-button color="primary" (click)="projectService.setProject(message.flow.thread.project_id)"
              routerLink="/courriels/courriel">Voir
      </button>
      <button mat-button color="primary" (click)="answer(message.id, message.sender_entity_id)"><i
        class="material-icons">reply</i> Répondre
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
